.lang-switch {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  font-size: 0.9rem;
}

.lang-switch a {
  text-decoration: none;
  opacity: 0.7;
}

.lang-switch a:hover {
  opacity: 1;
}

.lang-switch .active {
  font-weight: 600;
}

