{{/* Header */}}

<div class="header">

    {{ if or (not (.Param "hideHeader")) .IsHome }}

    <h1 class="header-title">
        <a href="{{ "/" | relLangURL }}">{{ site.Title }}</a>
    </h1>

    <div class="header-menu">
        {{ $currentPage := . }}
        {{ $menu := site.Menus.main }}

        {{ if $menu }}
        {{ range $menu }}
        {{ $isActive := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
        <p class="small {{ if $isActive }} bold {{ end }}">
            <a href="{{ .URL }}" {{ if and (isset .Params "newTab") .Params.newTab }}target="_blank" rel="noopener noreferrer" {{ end }}>
                /{{ .Name }}
            </a>
        </p>
        {{ end }}
        {{ end }}
    </div>

    {{ end }}

</div>
